<!DOCTYPE html>
<html>

<Head>
  <meta charset="utf-8">
  <title>Trabalho</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</Head>

<body>
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#">Familia</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="https://github.com/Phelipe97/Ferramentas_para_Web">Github</a>
    </li>
  </ul>
  
  <h1>Familia</h1>
<table class="table table-striped"> 
  <thead class="thead-dark">
    <tr>
      <th >Nome</th>
      <th >RU </th>
      <th >Curso </th>
      <th >Aniversario </th>
    </tr>
  </thead>
<tbody>
  <ng-container *ngFor=" let familia of lista_familia">
    <tr  *ngIf="lista_familia.length>0;else desliga">
      <td>{{familia.Nome}} </td>
      <td>{{ familia.RU}} </td>
      <td>{{ familia.Curso}} </td>
      <td> {{ familia.Aniversario}} </td>
    </tr>
  </ng-container>
</tbody>
  </table>
  <ng-template #desliga>
    <div class="alert alert-info" role="alert">
      <p>Nenhuma tabela....</p>
    </div>
  </ng-template>

</body>

</html>